#div1{
    /*color: blue;*/
    color: rgb(150, 10, 5);
}
#div2{
    text-align: center;
}
#div3{
    /*text-decoration:overline*/
    text-decoration:underline;
}
#div4{
    text-decoration: overline underline line-through;
}
a{
    text-decoration: none;
}
#p1{
    text-indent: 2em;
}